
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




   
  

<div class="row" style="padding-bottom:500px;">

    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"> @Html.ActionLink("Add Manager", "AddManager")</div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">@Html.ActionLink("View and manage Roles", "RoleIndex")|</div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">@Html.ActionLink("View And manage Pending Module requests", "PendingModules")</div>
</div>

