@{
    ViewBag.Title = "Dasboard";
}
<head>
    <title></title>
</head>


<div class="row ">
    <div id="" class="col-lg-4 col-md-4 col-sm-4 col-xs-4  tile_height lightblue hollow ">
     <img src="~/img/D.png" style="position:absolute; left:60px; top:30px; width:70%; height:70%;" />
        <span style="position:absolute; left:110px; bottom:40px; font-size:xx-large;">Dasboard</span>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tile_height darkfine hollow"></div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tile_height lightdarkblue hollow"></div>
    
</div>
<div class="row ">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tile_height lightdarkblue hollow"></div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tile_height lightblue hollow"></div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tile_height darkblue hollow"></div>
</div>
<div class="row ">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tile_height darkblue hollow"></div>
 
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tile_height lightdarkblue hollow"></div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tile_height darkfine hollow"></div>
    
</div>

@section scripts
{

<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/jquery-2.1.1.js"></script>
    <script type="text/javascript">

        //$(document).ready(function () {
        //    $('.hollow').mouseover(function () {
        //        $(this).css('background', 'white');
        //    });

        //});


    </script>


}