@{
    ViewBag.Title = "Dasboard";
}
<head>
    <title></title>
</head>


<div class="row ">
    <!--Dashboard tile-->
        <div id="" class="col-lg-4 col-md-4 col-sm-4 col-xs-4  tile_height lightblue hollow ">
         <img src="~/img/D.png" style="position:absolute; left:15%; top:8%; width:70%; height:70%;" />
            <span style="position:absolute; left:28%; bottom:10%; font-size:150%;">Dasboard</span>
        </div>
    <!--Dashboard tile ends-->

    <!--Client tile-->
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tile_height darkfine hollow" onclick="location.href = '@Url.Action("ClientIndex", "Building")'">
        <img src="~/img/client.png" style="position:absolute; left:15%; top:8%; width:70%; height:70%;" />
        <span style="position:absolute; left:25%; bottom:10%; font-size:150%;">Clients</span>
    </div>
    <!--Client tile ends--> 
    <!--Search tile-->
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tile_height lightdarkblue hollow">
            <img src="~/img/Search.png" style="position:absolute; left:15%; top:8%; width:70%; height:70%;" />
            <span style="position:absolute; left:28%; bottom:10%; font-size:150%;">Search</span>
        </div> 
    <!--Search tile ends-->   
</div>
<div class="row ">
   <!--Building tile-->
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tile_height lightdarkblue hollow" onclick="location.href = '@Url.Action("PendingModules", "Management")'">
        <img src="~/img/building.png" style="position:absolute; left:15%; top:8%; width:70%; height:70%;" />
        <span style="position:absolute; left:28%; bottom:10%; font-size:150%;">Management</span>
    </div>
    <!--Building tile ends-->
    <!--Home tile-->
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tile_height lightblue hollow">
        <img src="~/img/home.png" style="position:absolute; left:23%; top:12%; width:55%; height:55%;" />
        <span style="position:absolute; left:31%; bottom:10%; font-size:150%;">Home</span>        
    </div>
    <!--Home tile ends-->
    <!--Requests tile-->
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tile_height darkblue hollow" onclick="location.href = '@Url.Action("index", "Dashboard")'">
        <img src="~/img/R.png" style="position:absolute; left:15%; top:8%; width:70%; height:70%;" />
        <span style="position:absolute; left:30%; bottom:10%; font-size:150%;">Requests</span>
    </div>
    <!--Requests tile ends-->
</div>
<div class="row ">
    <!--Delivery tile-->
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tile_height darkblue hollow" >
        <img src="~/img/Delivery.png" style="position:absolute; left:15%; top:8%; width:70%; height:70%;" />
        <span style="position:absolute; left:31%; bottom:10%; font-size:150%;">Delivery</span>
    </div>
    <!--Delivery tile ends-->
    <!--Report tile-->
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tile_height lightdarkblue hollow ">
        <img src="~/img/reports.png" style="position:absolute; left:22%; top:14%; width:55%; height:55%;" />
        <span style="position:absolute; left:31%; bottom:10%; font-size:150%;">Reports</span>
    </div>
    <!--Report tile ends-->
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tile_height darkfine hollow">
        <img src="~/img/S.png" style="position:absolute; left:15%; top:8%; width:70%; height:70%;" />
        <span style="position:absolute; left:31%; bottom:10%; font-size:150%;">Settings</span>
    </div>
    
</div>

@section scripts
{

<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/jquery-2.1.1.js"></script>
    <script type="text/javascript">

        //$(document).ready(function () {
        //    $('.hollow').mouseover(function () {
        //        $(this).css('background', 'white');
        //    });

        //});


    </script>


}