@{
    ViewBag.Title = "Dasboard";
}
<head>
    <title></title>
</head>


<div class="row ">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tile_height lightblue "></div>
   
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tile_height darkfine"   ></div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tile_height lightdarkblue"></div>
    
</div>
<div class="row ">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tile_height lightdarkblue"></div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tile_height lightblue "></div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tile_height darkblue"></div>
</div>
<div class="row ">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tile_height darkblue"></div>
 
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tile_height lightdarkblue"></div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tile_height darkfine "></div>
    
</div>