@model SecurityMonitor.Models.ClientHomeVM

@{
    ViewBag.Title = "ClientHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 headerDefault">
        <ol class="breadcrumb" style="line-height:20px;" id="clientbreadcrumbid">
            <li>@Html.ActionLink("Home", "index", "Home", null, new { @class = "breadcrumblink" })</li>
            <li>Client's Page</li>            
        </ol>

       
    </div>
    

</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12   ">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center headerDefault paddingupdown20px  blueDefault font_color_white">
           <h3 class="displayinline">Client's Page</h3>
            <span class="hollow3 fa fa-plus-circle fa-2x  Addclientclass" id="Addclient"
                  data-toggle="modal" data-target="#myModalAdd" data-bind="click:GetStates"></span> 
        </div>
    </div>

</div>
<div class="row ">

    <div class="box">
        <div class="container-4 col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
            <input type="search" id="search" class=" form-control input-xs" placeholder="Start Typing..." data-bind="value:Search, valueUpdate:'afterkeydown'" />

        </div>
    </div>
</div>
<div class="row rowheight "></div>

<div class="row hidden-sm hidden-xs clientboxcontainer" data-bind="foreach:ClientList">
    <!--vCard starts-->
    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12   paddingBottom20px nopadding" style="display:none;" data-bind="click:getBuildinginfo, visible:offoron">
        <!--header starts-->
        <section class=" col-md-12 text-center clientboxrow " @*data-toggle="modal" data-target="#myModal"*@>
            <section class=" boxhead hollow5 col-md-12 col-lg-12 col-sm-12 col-xs-12 nopadding" >
                <div class=" boxname col-lg-12 col-md-12 col-sm-12 col-xs-12"data-bind="text:ClientName">
                </div>
            </section>
        </section>

    </div>
    <!--vCard ends-->

</div>

<div class="row hidden-lg hidden-md clientboxcontainer" data-bind="foreach:ClientList" style="min-height:600px !important;">
    <!--vCard starts-->
    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12  paddingBottom20px nopadding" style="display:none;" data-bind="click:getBuildinginfo, visible:offoron">
        <!--header starts-->
        <section class=" col-md-12 text-center clientboxrow" @*data-toggle="modal" data-target="#myModal"*@>
            <section class=" boxhead col-md-12 col-lg-12 col-sm-12 col-xs-12 nopadding">
                <div class=" boxname col-lg-12 col-md-12 col-sm-12 col-xs-12" data-bind="text:ClientName">
                </div>
            </section>
        </section>

    </div>
    <!--vCard ends-->

</div>

<!--============================================================================Add Client=======================================================================-->

<div class="modal fade" id="myModalAdd" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!--=================================================================header ADD client information===========================================================-->
            <div class="modal-header nopadding " id="modalheaderid">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="col-lg-12 colmd-12  repairrequestformheader text-center ">
                    <h3 class="modal-title myModalLabel " style="color:white; ">Add Client</h3>
                </div>
            </div><!--Ending tag fo r edit client information-->
            <!--================================================================================Add cliet form================================================================-->

           
           
            
             <div class="modal-body lightgrey">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noppading" style="margin-top:20px !important;">
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12   nopadding  ">
                        <div class="hidden-lg hidden-md col-sm-3 col-xs-3"></div>
                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6">
                            Clietn's Name
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 paddingBottom20px  nopadding ">
                        <div class="hidden-lg hidden-md col-sm-3 col-xs-3"></div>
                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6">
                            <input type="text" class="form-control" data-bind="value:ClientName" />
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 nopadding ">
                        <div class="hidden-lg hidden-md col-sm-3 col-xs-3"></div>
                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6  ">
                            Clietn' Address
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 paddingBottom20px nopadding ">
                        <div class="hidden-lg hidden-md col-sm-3 col-xs-3"></div>
                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6">
                            <input type="text" class="form-control" data-bind="value:ClientAddress" />
                        </div>
                    </div>
                    <!--=======================================line 2===================================================-->

                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 nopadding">
                        <div class="hidden-lg hidden-md col-sm-3 col-xs-3"></div>
                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6  ">
                            Clietn' City
                        </div>
                    </div>
                   
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 paddingBottom20px nopadding">
                        <div class="hidden-lg hidden-md col-sm-3 col-xs-3"></div>
                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6  ">
                            <input type="text" class="form-control" data-bind="value:ClientCity" />
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 nopadding  ">
                        <div class="hidden-lg hidden-md col-sm-3 col-xs-3"></div>
                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6  ">
                            Clietn' State
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 paddingBottom20px nopadding ">
                        <div class="hidden-lg hidden-md col-sm-3 col-xs-3"></div>
                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6">

                            <select data-bind=" options:StateList,optionsText:'Text', optionsValue:'Text',value:ClientState"></select>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 nopadding  ">
                        <div class="hidden-lg hidden-md col-sm-3 col-xs-3"></div>
                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6  ">
                            Clietn' Zipcode
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 paddingBottom20px nopadding ">
                        <div class="hidden-lg hidden-md col-sm-3 col-xs-3"></div>
                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6  ">
                            <input type="text" class="form-control" data-bind="value:ClientZipcode" />
                        </div>
                    </div>



                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 nopadding  ">
                        <div class="hidden-lg hidden-md col-sm-3 col-xs-3"></div>
                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6  ">
                            Clietn' Fax
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 paddingBottom20px nopadding ">
                        <div class="hidden-lg hidden-md col-sm-3 col-xs-3"></div>
                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6  ">
                            <input type="text" class="form-control col-lg-2 col-md-2" data-bind="value:ClientFax" />
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 nopadding ">
                        <div class="hidden-lg hidden-md col-sm-3 col-xs-3"></div>
                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6  ">
                            Clietn' Phone
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 paddingBottom20px nopadding ">
                        <div class="hidden-lg hidden-md col-sm-3 col-xs-3"></div>
                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6  ">
                            <input type="text" class="form-control" data-bind="value:ClientPhone" />
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12  nopadding  ">
                        <div class="hidden-lg hidden-md col-sm-3 col-xs-3"></div>
                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6   ">
                           Client's Email
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 paddingBottom20px nopadding ">
                        <div class="hidden-lg hidden-md col-sm-3 col-xs-3"></div>
                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6  ">
                            <input type="text" class="form-control" data-bind="value:ClientEmail" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button type="button" class="btn btn-info input-sm" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-info input-sm" data-dismiss="modal" data-bind="click:AddClient">Update</button>
                </div>
            </div>
        </div>
    </div>
</div><!--Edit client information Form Ends-->


<!--================================================================Client Page===================================================================================-->


<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" >

            <!--====================================================Header client page============================================================-->

            <div class="modal-header  " id="modalheaderid">
                <div class="col=-lg-12 col-md-12 col-sm-12 col-xs-12 blueDefault_no_border">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="xbuttonclientid" >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 blueDefault repairrequestformheader headerDefault clientbuildinglist">

                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6  repairrequestformheader text-center headerDefault clientbuildinglist  ">
                    <section class="modal-title"
                        id="myModalLabel "
                        style="color:white; "
                        data-bind="text:SelectedClientName"></section>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 blueDefault headerDefault clientbuildinglist">

                    <button data-toggle="popover" id="facongid"
                            title="Client Advance Settings"
                            class="btn btn-link pull-right displayinline OpenRequestsSettings fa fa-cog fa-1x padding-right_20px font_color_white margin_right_80px "></button>

                    <!--======================================================Advance setting for client page===================================================-->

                    <div id="popover_content_wrapper" style="display: none; ">
                        <div class=" " style="padding:20px 0 100px 0;">
                            <div class="col-lg-4 col-md-43 col-sm-4 col-xs-4 text-center rowheight">
                                <button class="btn btn-sm  fa fa-pencil-square-o hollow5 ClientIconbox"
                                        data-toggle="modal" data-target="#myModalEdit" data-bind="click:editme"></button>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center rowheight">
                                <button class="btn btn-sm fa fa-trash hollow5 ClientIconbox " id="deleteme" data-toggle="modal" data-target="#myModalDelete"></button>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center rowheight">
                                <button class="btn btn-sm fa fa-map-marker hollow5 ClientIconbox"></button>
                            </div>
                            <hr />
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center rowheight">
                                <button class="btn btn-sm fa fa-share-alt hollow5 ClientIconbox"></button>
                            </div>

                        </div>
                    </div><!--ending for Advance settings-->
                </div><!--ending for header-->
                <!--=========================================================Client Page body=================================================================-->

                <div class="modal-body border lightgrey">
                    <div class="row boxclientContent ">
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12  ">
                          
                                <!--Client Information Information -->
                                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12  BoxClientInforight">
                                    <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center clientContactinfoHeader " data-bind="text:SelectedClientName">Brooklyn Terrance Inc</span>
                                    <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center  clientContactinfo " data-bind="text:SelectedClientFullAddress">1411 Broadway</span>
                                    <span class="col-lg-12 col-md-12 text-center col-sm-12 col-xs-12  ClientPhone " data-bind="text:citystatezip"></span>
                                    <span class="col-lg-12 col-md-12 text-center col-sm-12 col-xs-12  ClientPhone " data-bind="text:SelectedClientEmail"></span>
                                    <span class="col-lg-12 col-md-12 text-center col-sm-12 col-xs-12 ClientPhone " data-bind="text:SelectedClientPhone"></span>

                                </div>
                                <!--Client Contact information-->
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 Row_Client_Box BoxClientInfo ">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 Row_Client_Contact_header">
                                        <span class="fa fa-plus hollow5"> New Contact</span>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 Row_Client_Contact text-center">

                                        Richard Valentine
                                        <br />
                                        Phone: 34729899009
                                        <br />
                                        Email: Example@gmail.com
                                        <br />
                                    </div>
                                </div>
                                <!--=================================================================List of Building=================================================-===-->

                                <div class="col-lg-3 col-md-3 hidden-sm hidden-xs blueDefault clientbuildinglist"></div><!--empty div-->
                               
                             <!--======================================================Building Row's content starts=========================================-->

                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center  blueDefault clientbuildinglist">
                                    <h4 style="color:white;">BUILDINGS</h4>
                                </div>
                            <div id="popoverparent" class="col-lg-3 col-md-3 col-sm-12 col-xs-12 blueDefault clientbuildinglist">
                                <button class="btn btn-link pull-right displayinline openrequestssettings Client_Searchloop fa fa-plus-circle fa-1x font_color_white" id="hitme" data-toggle="modal" data-target="#myModalAddBuilding"></button>
                                <button data-bind="popover: {options: { title: 'filter by', placement: 'top' }, template: 'popoverBindingTemplate'}"
                                        class="btn btn-link pull-right displayinline OpenRequestsSettings Client_Searchloop fa fa-search fa-1x font_color_white"></button>

                                <script type="text/html" id="popoverBindingTemplate">
                                    <button class="close pull-right closingx" type="button" data-dismiss="popover">×</button>
                                    <button class="close pull-right clearinputfield" type="button" data-bind="click:clearinputfield">×</button>
                                    <form>
                                        <input type="text" data-bind="value: buildingSearch, valueUpdate:'afterkeydown'" />
                                    </form>
                                </script>

                            </div>
<!--=======================================================================search loop bar=========================================================-->
                           
                                
                           

                                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12  BoxClientbuildingList   " data-bind="foreach:BuildingList">
                                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 bldslistrows border-bottomcust hollow5 text-center " data-bind="click:BuildingSelected">
                                        <span class="displayinline padding-right_20px" data-bind="text:BLBuildingName"></span>
                                        <span class="displayinline padding-right_20px" data-bind=" text:BLBuildingAddress"></span>
                                        <span class="displayinline padding-right_20px" data-bind="text:BLPhone"></span>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 extraContentinsideFooter  ">
                                </div>
                            </div>
                   

                </div>
                    </div>
                
            </div>
        </div>
    </div>
</div>

<!--======================================================Add Building Modal=======================================================-->

<div class="modal fade" id="myModalAddBuilding" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header nopadding " id="modalheaderid">
                <div class="col=-lg-12 col-md-12 col-sm-12 col-xs-12 blueDefault">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  repairrequestformheader text-center headerDefault ">
                    <h3 class="modal-title" id="myModalLabel " style="color:white; ">Add new Building</h3>
                </div>

            </div>
            <div class="modal-body lightgrey">
                <!--New building-->

                <!--Left-->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 " style="margin-top:20px !important;">

                    
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12   nopadding  ">
                            <div class="hidden-lg hidden-md col-sm-3 col-xs-3"></div>
                            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6">
                                Building Name
                            </div>
                        </div>

                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 paddingBottom20px  nopadding ">
                            <div class="hidden-lg hidden-md col-sm-3 col-xs-3"></div>
                            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6">
                                <input type="text" class="form-control" data-bind="value:NewBuildingName" />
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 nopadding ">
                            <div class="hidden-lg hidden-md col-sm-3 col-xs-3"></div>
                            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6  ">
                                Building Address
                            </div>
                        </div>

                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 paddingBottom20px nopadding ">
                            <div class="hidden-lg hidden-md col-sm-3 col-xs-3"></div>
                            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6">
                                <input type="text" class="form-control" data-bind="value:NewBuildingtAddress" />
                            </div>
                        </div>
                       
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 nopadding">
                            <div class="hidden-lg hidden-md col-sm-3 col-xs-3"></div>
                            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6  ">
                                Building City
                            </div>
                        </div>
                    
         
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 paddingBottom20px nopadding">
                            <div class="hidden-lg hidden-md col-sm-3 col-xs-3"></div>
                            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6  ">
                                <input type="text" class="form-control" data-bind="value:NewBuildingtCity" />
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 nopadding  ">
                            <div class="hidden-lg hidden-md col-sm-3 col-xs-3"></div>
                            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6  ">
                                Building State
                            </div>
                        </div>

                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 paddingBottom20px nopadding ">
                            <div class="hidden-lg hidden-md col-sm-3 col-xs-3"></div>
                            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6">

                                <select class="form-control" data-bind=" options:StateList,optionsText:'Text', optionsValue:'Text', optionsCaption:SelectedClientState,value:NewBuildingState"></select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 nopadding  ">
                            <div class="hidden-lg hidden-md col-sm-3 col-xs-3"></div>
                            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6  ">
                                Building Zipcode
                            </div>
                        </div>

                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 paddingBottom20px nopadding ">
                            <div class="hidden-lg hidden-md col-sm-3 col-xs-3"></div>
                            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6  ">
                                <input type="text" class="form-control" data-bind="value:NewBuildingtZipcode" />
                            </div>
                        </div>
                    </div>
               
                <!--Right-->
                 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 " style="margin-top:20px !important;">

                     <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 nopadding  ">
                         <div class="hidden-lg hidden-md col-sm-3 col-xs-3"></div>
                         <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6  ">
                             Building Fax
                         </div>
                     </div>

                     <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 paddingBottom20px nopadding ">
                         <div class="hidden-lg hidden-md col-sm-3 col-xs-3"></div>
                         <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6  ">
                             <input type="text" class="form-control col-lg-2 col-md-2" data-bind="value:SelectedClientFax" />
                         </div>
                     </div>

                     <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 nopadding ">
                         <div class="hidden-lg hidden-md col-sm-3 col-xs-3"></div>
                         <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6  ">
                             Building Phone
                         </div>
                     </div>

                     <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 paddingBottom20px nopadding ">
                         <div class="hidden-lg hidden-md col-sm-3 col-xs-3"></div>
                         <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6  ">
                             <input type="text" class="form-control" data-bind="value:SelectedClientPhone" />
                         </div>
                     </div>

                     <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12  nopadding  ">
                         <div class="hidden-lg hidden-md col-sm-3 col-xs-3"></div>
                         <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6   ">
                             Building Email
                         </div>
                     </div>

                     <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 paddingBottom20px nopadding ">
                         <div class="hidden-lg hidden-md col-sm-3 col-xs-3"></div>
                         <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6  ">
                             <input type="text" class="form-control" data-bind="value:SelectedClientEmail" />
                         </div>
                     </div>
                </div>
                </div>
            <div class="modal-footer">
                <div class=" col-lg-7 col-md-7 col-sm-7 col-xs-7">
                </div>
                <div class=" col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-default" data-dismiss="modal" data-bind="click:AddNewBuilding">Add</button>
                </div>

            </div>
        </div>
    </div>
</div><!-- ending tag for Clientpage-->

<!--============================================================================Edit Client's information popup===========================================================-->

<div class="modal fade" id="myModalEdit" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!--header Edit client information-->
            <div class="modal-header nopadding " id="modalheaderid">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="col-lg-12 colmd-12  repairrequestformheader text-center " data-bind=" text:SelectedClientName">
                    <h2 class="modal-title myModalLabel " style="color:white; " data-bind="text:SelectedClientName"></h2>
                </div>
            </div><!--Ending tag fo r edit client information-->

<!--================================================================================Edit cliet form================================================================-->
            
            <div class="modal-body lightgrey">               
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noppading" style="margin-top:20px !important;">
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12   nopadding  ">
                        <div class="hidden-lg hidden-md col-sm-3 col-xs-3"></div>
                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6">
                            Building Name
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 paddingBottom20px  nopadding ">
                        <div class="hidden-lg hidden-md col-sm-3 col-xs-3"></div>
                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6">
                            <input type="text" class="form-control" data-bind="value:SelectedClientName" />
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 nopadding ">
                        <div class="hidden-lg hidden-md col-sm-3 col-xs-3"></div>
                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6  ">
                            Building Address
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 paddingBottom20px nopadding ">
                        <div class="hidden-lg hidden-md col-sm-3 col-xs-3"></div>
                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6">
                            <input type="text" class="form-control" data-bind="value:SelectedClientAddress" />
                        </div>
                    </div>
                    <!--=======================================line 2===================================================-->

                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 nopadding">
                        <div class="hidden-lg hidden-md col-sm-3 col-xs-3"></div>
                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6  ">
                            Building City
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 paddingBottom20px nopadding">
                        <div class="hidden-lg hidden-md col-sm-3 col-xs-3"></div>
                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6  ">
                            <input type="text" class="form-control" data-bind="value:SelectedClientCity" />
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 nopadding  ">
                        <div class="hidden-lg hidden-md col-sm-3 col-xs-3"></div>
                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6  ">
                            Building State
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 paddingBottom20px nopadding ">
                        <div class="hidden-lg hidden-md col-sm-3 col-xs-3"></div>
                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6">

                            <select data-bind=" options:StateList,optionsText:'Text', optionsValue:'Text', optionsCaption:SelectedClientState,value:SelectedClientState"></select>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 nopadding  ">
                        <div class="hidden-lg hidden-md col-sm-3 col-xs-3"></div>
                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6  ">
                            Building Zipcode
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 paddingBottom20px nopadding ">
                        <div class="hidden-lg hidden-md col-sm-3 col-xs-3"></div>
                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6  ">
                            <input type="text" class="form-control" data-bind="value:SelectedClientZipcode" />
                        </div>
                    </div>



                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 nopadding  ">
                        <div class="hidden-lg hidden-md col-sm-3 col-xs-3"></div>
                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6  ">
                            Building Fax
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 paddingBottom20px nopadding ">
                        <div class="hidden-lg hidden-md col-sm-3 col-xs-3"></div>
                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6  ">
                            <input type="text" class="form-control col-lg-2 col-md-2" data-bind="value:SelectedClientFax" />
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 nopadding ">
                        <div class="hidden-lg hidden-md col-sm-3 col-xs-3"></div>
                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6  ">
                            Building Phone
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 paddingBottom20px nopadding ">
                        <div class="hidden-lg hidden-md col-sm-3 col-xs-3"></div>
                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6  ">
                            <input type="text" class="form-control" data-bind="value:SelectedClientPhone" />
                        </div>
                    </div>                   
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button type="button" class="btn btn-info input-sm" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-info input-sm" data-dismiss="modal" data-bind="click:UpdateClientNow">Update</button>
                </div>
            </div>
        </div>
    </div>
</div><!--Edit client information Form Ends-->



<div class="modal fade" id="myModalDelete" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header blueDefault   " id="modalheaderid" >
                Are you sure you want delete <span data-bind="text:SelectedClientName"></span>?
            </div>
            <div class="modal-body deletebox ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center">
                        <button class="btn btn-default" data-dismiss="modal" id="deletecancelid">Cancel</button>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center">
                        <button class="btn btn-default" data-bind="click:deleteclient" data-dismiss="modal" id="deleteid" onclick="fakeClick(event, document.getElementById('xbuttonclientid'))">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--End Html Code-->
<!--Start JavaScript code-->
@section scripts
{
    <script src="~/Scripts/jquery-2.1.3.min.js"></script>
    <script src="~/Scripts/knockout-3.1.0.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>


    <script src="~/Scripts/jquery.signalR2.1.2.min.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>

    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<script src="~/Scripts/knockout-bootstrap.min.js"></script>
    <script type="text/javascript">
        //jquery here
        function fakeClick(event, anchorObj) {
            if (anchorObj.click) {
                anchorObj.click()
            } else if (document.createEvent) {
                if (event.target !== anchorObj) {
                    var evt = document.createEvent("MouseEvents");
                    evt.initMouseEvent("click", true, true, window,
                        0, 0, 0, 0, 0, false, false, false, false, 0, null);
                    var allowDefault = anchorObj.dispatchEvent(evt);
                    // you can check allowDefault for false to see if
                    // any handler called evt.preventDefault().
                    // Firefox will *not* redirect to anchorObj.href
                    // for you. However every other browser will.
                }
            }
        }


        $('.imgmenu').click(function () {
            var menuid = $(this).attr("data-linkme");
            $(this).toggleClass("hoveron");
            $('.extraContent[data-linked =' + menuid + ']').slideToggle();
        }
        );
        $(function () {
            //popover advance options 
            $('[data-toggle="popover"]').popover({
                placement: 'bottom',
                html: true,
                content: function () {
                    return $('#popover_content_wrapper').html();
                }
            });

            $('#deletecancelid').click(function () {
                $('#facongid').trigger("click");
           

            });

            $('#deleteid').click(function () {
                $('#facongid').trigger("click");
              
            });
            $('#search').focus();

           
            
           
           

            ////popover building search
            //$('[data-toggle="popoverBuildingSearch"]').popover({
            //    placement: 'left',
            //    html: true,
            //    id:"searchloopid1",
                
            //    content: function () {
            //        return $('#popover_Searchloop_wrapper').html();
            //    }
            //});
           
           

            var viewModel = function () {
                var self = this;


 //===================================================================Add Client============================================================================

                self.StateList = ko.observableArray();

                self.ClientName = ko.observable("Golden Real State");
                self.ClientAddress = ko.observable("1372 Broadway");
                self.ClientCity = ko.observable("New York");
                self.ClientState = ko.observable("NY");
                self.ClientZipcode = ko.observable("10018");
                self.ClientPhone = ko.observable("3476990088");
                self.ClientFax = ko.observable("3475889988");
                self.ClientEmail = ko.observable("Golden@mail.com");
                self.ClientContactName = ko.observable();
                self.ClientContactPhone = ko.observable();
                self.ClientContactEmail = ko.observable();

                self.NewBuildingName = ko.observable("Golden Real State");
                self.NewBuildingtAddress = ko.observable("1372 Broadway");
                self.NewBuildingtCity = ko.observable("New York");
                self.NewBuildingState = ko.observable("NY");
                self.NewBuildingtZipcode = ko.observable("10018");
                
               

                self.offoron = ko.observable(false);
                self.SelectedClientName = ko.observable();
                self.SelectedClientFullAddress = ko.observable();
                self.SelectedClientPhone = ko.observable();
                self.SelectedClientEmail = ko.observable();
                self.SelectedClientFax = ko.observable();
                self.SelectedClientID = ko.observable();

                self.SelectedClientAddress = ko.observable();
                self.SelectedClientCity = ko.observable();
                self.SelectedClientState = ko.observable();
                self.SelectedClientZipcode = ko.observable();

                self.ClientList = ko.observableArray();

                self.Search = ko.observable();

                self.BuildingList = ko.observableArray();


                //gotoclientprofile
               


                //Add Building
                var NewBuilding = {
                    BuildingName: self.NewBuildingName,
                    Address: self.NewBuildingtAddress,
                    City: self.NewBuildingtCity,
                    State: self.NewBuildingState,
                    Zipcode: self.NewBuildingtZipcode,
                    ClientID: SelectedClientID
                };

                self.AddNewBuilding = function () {
                    alert("yes");
                    $.ajaxSettings.traditional = true;
                    $.ajax(
                        {
                            type: "Post",
                            url: '/building/AddBuilding/',
                            dataType: "json",
                            data: NewBuilding,
                            success: function (data) {

                                self.BuildingList.removeAll();
                                var jsonresult = JSON.stringify(data.Data);// Json.stringify make an object into a json string

                                var TrkPkgs = JSON.parse(jsonresult); //JSON.parse makes a json string into a json object example obj.FirstName
                                for (var i = 0; i < TrkPkgs.length; i++) {
                                    self.BuildingList.push({
                                        BLBuildingName: ko.observable(TrkPkgs[i].BuildingName),
                                        BLBuildingAddress: ko.observable(TrkPkgs[i].BuildingAddress),
                                        BLPhone: ko.observable(TrkPkgs[i].Phone),
                                        BLbuildingID: ko.observable(TrkPkgs[i].BuildingID)

                                    });
                                }

                            }
                        });

                };

                //Get states
                self.GetStates = function () {
                   
                    $.ajaxSettings.traditional = true;
                    $.ajax(
                        {
                            type: "GET",
                            url: '/building/States/',
                            dataType: "json",
                            success: function (data) {

                                var jsonresult = JSON.stringify(data.Data);// Json.stringify make an object into a json string
                                var TrkPkgs = JSON.parse(jsonresult); //JSON.parse makes a json string into a json object example obj.FirstName

                              



                            }
                        });

                };

                var AddClienttodb =
                    {
                        //match db fields
                        ClientName: self.ClientName,
                        Address: self.ClientAddress,
                        Phone: self.ClientPhone,
                        Fax: self.ClientFax,
                        Email: self.ClientEmail,
                        City: self.ClientCity,
                        State: self.ClientState,
                        ZipCode: self.ClientZipcode
                    }

                self.AddClient = function () {


                   
                    // add ajax code to pass AddClienttodb 
                    //on success add populate clientlist
                    

                  
                    $.ajaxSettings.traditional = true;
                    $.ajax(
                        {
                            type: "Post",
                            url: '/building/AddClient/',
                            dataType: "json",
                            data:AddClienttodb,
                            success: function (data) {
                                self.ClientList.removeAll();
                                self.offoron(true);
                                var jsonresult = JSON.stringify(data.Data);// Json.stringify make an object into a json string

                                var TrkPkgs = JSON.parse(jsonresult); //JSON.parse makes a json string into a json object example obj.FirstName

                                for (var i = 0; i < TrkPkgs.length; i++) {

                                    self.ClientList.push({
                                        ClientID: ko.observable(TrkPkgs[i].BUildingID),
                                        ClientName: ko.observable(TrkPkgs[i].ClientName),
                                        ClientPhone: ko.observable(TrkPkgs[i].ClientPhone),
                                        ClientFullAddress: ko.observable(TrkPkgs[i].ClientAddress),
                                        ClientEmail: ko.observable(TrkPkgs[i].ClientEmail),
                                        ClientAddress: ko.observable(TrkPkgs[i].ClientAddress),
                                        ClientCity: ko.observable(TrkPkgs[i].ClientCity),
                                        ClientState: ko.observable(TrkPkgs[i].ClientState),
                                        ClientZipcode: ko.observable(TrkPkgs[i].ClientZipcode),
                                        ClientFax: ko.observable(TrkPkgs[i].ClientFax)
                                    });
                                }
                            }
                        });
                };

                self.deleteclient =  function () {
                   

                    $.ajaxSettings.traditional = true;
                    $.ajax(
                        {
                            type: "Post",
                            url: '/building/deleteClient/',
                            dataType: "json",
                            data: { ClientID: self.SelectedClientID() },
                            success: function (data) {
                                self.ClientList.removeAll();
                                self.offoron(true);
                                var jsonresult = JSON.stringify(data.Data);// Json.stringify make an object into a json string

                                var TrkPkgs = JSON.parse(jsonresult); //JSON.parse makes a json string into a json object example obj.FirstName

                                for (var i = 0; i < TrkPkgs.length; i++) {

                                    self.ClientList.push({
                                        ClientID: ko.observable(TrkPkgs[i].BUildingID),
                                        ClientName: ko.observable(TrkPkgs[i].ClientName),
                                        ClientPhone: ko.observable(TrkPkgs[i].ClientPhone),
                                        ClientFullAddress: ko.observable(TrkPkgs[i].ClientAddress),
                                        ClientEmail: ko.observable(TrkPkgs[i].ClientEmail),
                                        ClientAddress: ko.observable(TrkPkgs[i].ClientAddress),
                                        ClientCity: ko.observable(TrkPkgs[i].ClientCity),
                                        ClientState: ko.observable(TrkPkgs[i].ClientState),
                                        ClientZipcode: ko.observable(TrkPkgs[i].ClientZipcode),
                                        ClientFax: ko.observable(TrkPkgs[i].ClientFax)
                                    });
                                }
                            }
                        }).done(function () {
                            
                            //$('.$("#myModal").modal('hide').on('hidden.bs.modal', functionThatEndsUpDestroyingTheDOM);').modal('hide');
                            //$(".modal").modal('hide');

                            //$('body').removeClass('modal-open');
                            //$('.modal-backdrop').remove();
                            //$(".modal").removeAttr('hide');
                           // $('.fade').remove();
                        });

                };            
                   


                self.editme = function () {
                    alert(self.SelectedClientState());

                }

              
                self.Search.subscribe(function (value) {
                    

                    $.ajaxSettings.traditional = true;
                    $.ajax(
                        {
                            type: "GET",
                            url: '/building/SearchClientList/',
                            dataType: "json",
                            data: { Search: value },
                            success: function (data) {

                                self.ClientList.removeAll();
                                self.offoron(true);
                                var jsonresult = JSON.stringify(data.Data);// Json.stringify make an object into a json string

                                var TrkPkgs = JSON.parse(jsonresult); //JSON.parse makes a json string into a json object example obj.FirstName

                                for (var i = 0; i < TrkPkgs.length; i++) {

                                    self.ClientList.push({
                                        ClientID: ko.observable(TrkPkgs[i].BUildingID),
                                        ClientName: ko.observable(TrkPkgs[i].ClientName),
                                        ClientPhone: ko.observable(TrkPkgs[i].ClientPhone),
                                        ClientFullAddress: ko.observable(TrkPkgs[i].ClientAddress),
                                        ClientEmail: ko.observable(TrkPkgs[i].ClientEmail),
                                        ClientAddress: ko.observable(TrkPkgs[i].ClientAddress),
                                        ClientCity: ko.observable(TrkPkgs[i].ClientCity),
                                        ClientState: ko.observable(TrkPkgs[i].ClientState),
                                        ClientZipcode: ko.observable(TrkPkgs[i].ClientZipcode),
                                        ClientFax: ko.observable(TrkPkgs[i].ClientFax)
                                    });
                                }
                            }
                        });

                });

               
                $.ajaxSettings.traditional = true;
                $.ajax(
                    {
                        type: "GET",
                        url: '/building/States/',
                        dataType: "json",
                        success: function (data) {

                            var jsonresult = JSON.stringify(data.Data);// Json.stringify make an object into a json string
                            var TrkPkgs = JSON.parse(jsonresult); //JSON.parse makes a json string into a json object example obj.FirstName

                            self.StateList(TrkPkgs);



                        }
                    });


               
                

                self.clearinputfield = function () {
                    self.buildingSearch("");
                    
                }




                self.buildingSearch = ko.observable();

                self.buildingSearch.subscribe(function (value) {

                  
                    

                    $.ajaxSettings.traditional = true;
                    $.ajax(
                        {
                            type: "GET",
                            url: '/building/Search4Building/',
                            data: { Search: value, ClientID: self.SelectedClientID() },
                            dataType: "json",
                            success: function (data) {
                                self.BuildingList.removeAll();
                                var jsonresult = JSON.stringify(data.Data);// Json.stringify make an object into a json string

                                var TrkPkgs = JSON.parse(jsonresult); //JSON.parse makes a json string into a json object example obj.FirstName
                                for (var i = 0; i < TrkPkgs.length; i++) {
                                    self.BuildingList.push({
                                        BLBuildingName: ko.observable(TrkPkgs[i].BuildingName),
                                        BLBuildingAddress: ko.observable(TrkPkgs[i].BuildingAddress),
                                        BLPhone: ko.observable(TrkPkgs[i].Phone),
                                        BLbuildingID: ko.observable(TrkPkgs[i].BuildingID)

                                    });
                                }
                            }
                        });

                });



                self.citystatezip = ko.computed(function () {
                    return self.SelectedClientCity() + " " + self.SelectedClientState() + ", " + self.SelectedClientZipcode();
                });

                self.getBuildinginfo = function (value, event) {
                    var myvalue = ko.toJSON(value);

                    var myjson = JSON.parse(myvalue);

                    self.SelectedClientName(myjson.ClientName);
                    self.SelectedClientFullAddress(myjson.ClientFullAddress);
                    self.SelectedClientPhone(myjson.ClientPhone);
                    self.SelectedClientEmail(myjson.ClientEmail);
                    self.SelectedClientFax(myjson.ClientFax);
                    self.SelectedClientID(myjson.ClientID);

                    window.location.href = "/Building/Clientprofile?ClientID=" + self.SelectedClientID();

                    self.SelectedClientAddress(myjson.ClientAddress);
                    self.SelectedClientCity(myjson.ClientCity);
                    self.SelectedClientState(myjson.ClientState);
                    self.SelectedClientZipcode(myjson.ClientZipcode);

                   


                    $.ajaxSettings.traditional = true;
                    $.ajax(
                        {
                            type: "GET",
                            url: '/building/ClientBuildingList/',
                            data: { ClientID: myjson.ClientID },
                            dataType: "json",
                            success: function (data) {
                                self.BuildingList.removeAll();
                                var jsonresult = JSON.stringify(data.Data);// Json.stringify make an object into a json string

                                var TrkPkgs = JSON.parse(jsonresult); //JSON.parse makes a json string into a json object example obj.FirstName
                                for (var i = 0; i < TrkPkgs.length; i++) {
                                    self.BuildingList.push({
                                        BLBuildingName: ko.observable(TrkPkgs[i].BuildingName),
                                        BLBuildingAddress: ko.observable(TrkPkgs[i].BuildingAddress),
                                        BLPhone: ko.observable(TrkPkgs[i].Phone),
                                        BLbuildingID: ko.observable(TrkPkgs[i].BuildingID)

                                    });
                                }
                            }
                        });

                };

                self.ClientList = ko.observableArray();
                $.ajaxSettings.traditional = true;
                $.ajax(
                    {
                        type: "GET",
                        url: '/building/ClientList/',
                        dataType: "json",
                        success: function (data) {
                            self.offoron(true);
                            var jsonresult = JSON.stringify(data.Data);// Json.stringify make an object into a json string

                            var TrkPkgs = JSON.parse(jsonresult); //JSON.parse makes a json string into a json object example obj.FirstName

                            for (var i = 0; i < TrkPkgs.length; i++) {

                                self.ClientList.push({
                                    ClientID: ko.observable(TrkPkgs[i].BUildingID),
                                    ClientName: ko.observable(TrkPkgs[i].ClientName),
                                    ClientPhone: ko.observable(TrkPkgs[i].ClientPhone),
                                    ClientFullAddress: ko.observable(TrkPkgs[i].ClientAddress),
                                    ClientEmail: ko.observable(TrkPkgs[i].ClientEmail),
                                    ClientAddress: ko.observable(TrkPkgs[i].ClientAddress),
                                    ClientCity: ko.observable(TrkPkgs[i].ClientCity),
                                    ClientState: ko.observable(TrkPkgs[i].ClientState),
                                    ClientZipcode: ko.observable(TrkPkgs[i].ClientZipcode),
                                    ClientFax: ko.observable(TrkPkgs[i].ClientFax)
                                });
                            }
                        }
                    });

                self.SelectedBuildingName = ko.observable();
                self.SelectedBuildingAddress = ko.observable();
                self.SelectedPhone = ko.observable();

                self.BuildingSelected = function (value, event) {
                    var myvalue = ko.toJSON(value);

                    var myjson = JSON.parse(myvalue);

                    self.SelectedBuildingName(myjson.BLBuildingName);
                    self.SelectedBuildingAddress(myjson.BLBuildingAddress);
                    self.SelectedPhone(myjson.BLPhone);

                    window.location.href = "/Building/BuildingProfile?BuildingID=" + myjson.BLbuildingID;

                };

                //Edited client information

                var UpdateClient =
                    {
                        ID: self.SelectedClientID,
                        ClientName: self.SelectedClientName,
                        Address: self.SelectedClientAddress,
                        City: self.SelectedClientCity,
                        State: self.SelectedClientState,
                        Phone: self.SelectedClientPhone,
                        ZipCode: self.SelectedClientZipcode,
                        Fax: self.SelectedClientFax,
                        Email: self.SelectedClientEmail
                    };


                self.UpdateClientNow = function () {

                    $.ajaxSettings.traditional = true;
                    $.ajax(
                        {
                            type: "GET",
                            url: '/building/EditClientAjax/',
                            data: UpdateClient,
                            dataType: "json",
                            success: function (data) {
                                var jsonresult = JSON.stringify(data.Data);// Json.stringify make an object into a json string


                                var TrkPkgs = JSON.parse(jsonresult); //JSON.parse makes a json string into a json object example obj.FirstName


                                self.ClientList.removeAll();


                                for (var i = 0; i < TrkPkgs.length; i++) {

                                    self.ClientList.push({
                                        ClientID: ko.observable(TrkPkgs[i].BUildingID),
                                        ClientName: ko.observable(TrkPkgs[i].ClientName),
                                        ClientPhone: ko.observable(TrkPkgs[i].ClientPhone),
                                        ClientFullAddress: ko.observable(TrkPkgs[i].ClientAddress),
                                        ClientEmail: ko.observable(TrkPkgs[i].ClientEmail),
                                        ClientAddress: ko.observable(TrkPkgs[i].ClientAddress),
                                        ClientCity: ko.observable(TrkPkgs[i].ClientCity),
                                        ClientState: ko.observable(TrkPkgs[i].ClientState),
                                        ClientZipcode: ko.observable(TrkPkgs[i].ClientZipcode),
                                        ClientFax: ko.observable(TrkPkgs[i].ClientFax)
                                    });
                                }
                            }
                        });


                };






                self.UpdatedBuilding = function () {

                };




            };

            ko.applyBindings(viewModel);
        });

    </script>
}
<!--End JavaScript code-->