
@{
    ViewBag.Title = "TenantMessegeCenterIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row text-center">

    <h2>Tenant's Messege Center page</h2>
    <h2>Under Construction </h2>
</div>