
@{
    ViewBag.Title = "TenantDeliveryIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row text-center">

    <h2>Tenant's delivey page </h2>
    <h2>Under Construction </h2>
</div>

