@{
    ViewBag.Title = "Dasboard";
}
<head>
    <title></title>
</head>
<!--Main Container-->
<div class=" myRow ">
    <!--=================Page Title==================-->
    <!--================Top Section=======================-->
    <div class="col-md-12 col-sm-12 col-sx-12 ">





    </div>

    <div class="row " style=" height:10px;">        
       
    </div><!--Page title-->
   
    @*<div class="row" >
        <!--left donout chart-->
        <div class="col-md-4 col-sm-4 col-sx-4  " style="height:390px;  ">
            <!--chart title-->
            <div class="col-md-12 col-sm-12 col-sx-12  boxtitle text-center " style="padding-bottom:5px; ">
                <h3 style="padding-top:15px;">Something 1</h3>
            </div>
            <!--chart Drawing-->
            <div class="col-md-12 col-sm-12 col-sx-12   " style="background:white; height:250px; border:1px solid lightgrey;">
               
                    <canvas id="chartleft" class=" " height="200" width="200"></canvas>
                
            </div>
        </div>

        

        <!--left donout chart-->
        <div class="col-md-8 " style="height:390px;  ">
            <!--chart title-->
            <div class="col-md-12 col-sm-12 col-sx-12  boxtitle text-center " style="padding-bottom:5px; ">
                <h3 style="padding-top:15px;">Something 1</h3>
            </div>
            <!--chart Drawing-->
            <div class="col-md-12 col-sm-12 col-sx-12   " style="background:white; height:250px; border:1px solid lightgrey;">
                <div class=" col-md-12 col-sm-12 col-sx-12  smallgraph  chartright">
                    <canvas id="chartright" class="  " width="680" height="220"></canvas>
                </div>
            </div>
        </div>
       
       
       

    </div>*@

    <div class="row text-center boxtitle" style="border:1px solid lightgrey; height:50px;"><h3>Today's Request</h3></div>
    <div class="row myRow shadow">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 " style="height:50px;padding-top:10px;">
            @{
                List<SelectListItem> options = new List<SelectListItem>();
                options.Add(new SelectListItem { Text = "Category", Value = "Category" });
                options.Add(new SelectListItem { Text = "Tenant", Value = "Tenant" });
                
            }
            @Html.DropDownList("mydropdownlist", options, "--Choose a value--", new { id = "mydropdownlist", @class = "form-control" })

        </div>
        

        
        <div class="col-lg-12 col-md-11 col-sm-12 col-xs-12 ">
            <div class="" id="RequestChart" style="height:500px; margin:10px;"></div>
        </div>
    </div>
</div>
@section scripts
{
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.signalR2.1.2.min.js"></script>
<script src="~/signalr/hubs"></script>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script src="~/Scripts/Chart.min.js"></script>

<!--=====================google Chart API starts=======================================-->

<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization',
            'version':'1','packages':['timeline'], }]}"></script>



    <!--=====================google Chart API ends=======================================-->
<script src="~/Scripts/date.js"></script>




    <script type="text/javascript">
        $(document).ready(function (e) {

            // Start the connection.

            var notification = $.connection.notificationsHub;

            notification.client.broadcastNotification = function (name, message) {
                alert(message);
            };

            $.connection.hub.start().done(function () {
               
            });

            //============================ pie chart ===============================
            
                //var data1 = [
                //               {
                //                   value: 50,
                //                   color: "lightblue",
                //                   label: "dioscar"

                //               },
                //               {
                //                   value: 10,
                //                   color: "red",
                //                   label: "dioscar"
                //               },
                //               {
                //                   value: 40,
                //                   color: "green",
                //                   label: "dioscar"
                //               }

                //]
                //var myDoughnut = new Chart(document.getElementById("chartleft").getContext("2d")).Doughnut(data1);
            
                //var data3 = {
                //    labels: ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"],
                //    datasets: [
                //        {
                //            label: "My First dataset",
                //            fillColor: "rgba(220,220,220,0.5)",
                //            strokeColor: "rgba(220,220,220,0.8)",
                //            highlightFill: "rgba(220,220,220,0.75)",
                //            highlightStroke: "rgba(220,220,220,1)",
                //            data: [65, 59, 80, 81, 56, 55, 40]
                //        },
                //        {
                //            label: "My Second dataset",
                //            fillColor: "rgba(151,187,205,0.5)",
                //            strokeColor: "rgba(151,187,205,0.8)",
                //            highlightFill: "rgba(151,187,205,0.75)",
                //            highlightStroke: "rgba(151,187,205,1)",
                //            data: [28, 48, 40, 19, 86, 27, 90]
                //        }
                //    ]
                //};

                //var options1 = {

                //    responsive: true,
                //    maintainAspectRatio: true
                //};
                //var myBarChart = new Chart(document.getElementById("chartright").getContext("2d")).Bar(data3, options1);
           
           
            //===========================Charts==============================
            //=============================Google Chart===================================
           // var url = @*'@Url.Action("getTodayRequests", "DashBoard")'*@;
            //============google chart and ajax connection to Action===========



            $('#mydropdownlist').change(function () {
               // alert($(this).val());

                var url = '/Dashboard/getTodayRequests?sortby=' + $(this).val();
                drawMyChart(url);
            });
            var url = '/Dashboard/getTodayRequests/';


            drawMyChart(url);

            //this function will draw a chart
            function drawMyChart(url){

            setTimeout(function () {
                // Do something after 5 seconds

                $.get(url, function (data) {
                    //call function
                    drawChart();

                    //=====function drawChart========
                    function drawChart() {

                        var container = document.getElementById('RequestChart');// get the element by ID
                        var chart = new google.visualization.Timeline(container); //create chart intance

                        //=======create table======
                        var dataTable = new google.visualization.DataTable();
                        //=======Adding Column======
                        dataTable.addColumn({ type: 'string', id: 'Room' });
                        dataTable.addColumn({ type: 'string', id: 'Name' });
                        dataTable.addColumn({ type: 'date', id: 'Start' });
                        dataTable.addColumn({ type: 'date', id: 'End' });

                        // =====year=======
                        function YearC(value) {
                            var pattern = /Date\(([^)]+)\)/;
                            var results = pattern.exec(value);
                            var dt = new Date(parseFloat(results[1]));
                            return (dt.getFullYear());
                        }
                        // =====Month=======
                        function MonthC(value) {
                            var pattern = /Date\(([^)]+)\)/;
                            var results = pattern.exec(value);
                            var dt = new Date(parseFloat(results[1]));
                            return (dt.getMonth());
                        }
                        // =====Day=======
                        function DayC(value) {
                            var pattern = /Date\(([^)]+)\)/;
                            var results = pattern.exec(value);
                            var dt = new Date(parseFloat(results[1]));
                            return dt.getDate();

                        }

                        // =====Hour=======
                        function HoursC(value) {
                            var pattern = /Date\(([^)]+)\)/;
                            var results = pattern.exec(value);
                            var dt = new Date(parseFloat(results[1]));
                            return dt.getHours();

                        }
                        // =====Minutes=======
                        function MinutesC(value) {
                            var pattern = /Date\(([^)]+)\)/;
                            var results = pattern.exec(value);
                            var dt = new Date(parseFloat(results[1]));
                            return dt.getMinutes();

                        }

                        //----------===============Loop=========
                        for (var i = 0; i < data.length; i++) {
                            //===============Conerting Json Date==========
                            var FromDate = data[i].From;
                            var ToDate = data[i].To;

                            //===============Conerting Json Date ends===========
                            //==========adding data to chart==========
                            dataTable.addRows(
                            [
                               [
                                   data[i].Type,
                                   data[i].Description,
                                   new Date(parseInt(YearC(FromDate)),
                                       MonthC(FromDate),
                                       DayC(FromDate),
                                       HoursC(FromDate),
                                       MinutesC(FromDate),
                                       0),
                                   new Date(YearC(ToDate),
                                       MonthC(ToDate),
                                       DayC(ToDate),
                                       HoursC(ToDate),
                                       MinutesC(ToDate),
                                       0)
                               ]
                            ]);
                        }
                        //---------===============end loop==========

                        //==========chart Options==========
                        var options = {
                            timeline: { colorByRowLabel: true },
                            responsive: true,
                            maintainAspectRatio: true,
                            backgroundColor: '#00000',
                            dateFormat: 'HH:mm MMMM dd, yyyy'

                        };
                     
                        chart.draw(dataTable, options);
                    }

                });


            }, 500);


            }
                      
                });//ends windows.ready

             

    </script>
}