@{
    ViewBag.Title = "Dasboard";
}
<head>
    <title></title>
</head>
<div class=" row">
<div class="col-lg-12 col-md-12  repairrequestformheader text-center ">
    <h6 class="modal-title myModalLabel " style="color:white; ">
        Access Request Dasboard
    </h6>

</div>

</div>



<div class=" row">
    

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mainboxtabs nopadding ContentAccesscontrolDashboard">


        <div class="col-lg-12 col-md-12 nopadding insideboxDashboard">
            <!--tenant bar-->
            <div class="col-lg-4 col-md-4 -blue insideboxDashboard">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding  searchfortenantDB" id="tenantsearchoutsidebox">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding  searchfortenantDB-inside container-6 hvr-underline-from-left">
                        <input type="search" id="searchdb" placeholder="Type name, Verify Address" />
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding  searchfortenantDB-inside-tenantresult  hvr-underline-from-left">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2  fa fa-user fa-2x dbuser">
                            <section class="dbaddressresult-pin">1745</section>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                            Dioscar Rodriguez
                            <section class="dbaddressresult">1411 Broadway 15th floor</section>
                            <section class="dbaddressresult">New Yrok, N.Y. 10018</section>

                        </div>

                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding  searchfortenantDB-inside-tenantresult hvr-underline-from-left ">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2  fa fa-user fa-2x dbuser">
                            <section class="dbaddressresult-pin">6875</section>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                            John Doe
                            <section class="dbaddressresult">1412 Broadway 15th floor</section>
                            <section class="dbaddressresult">New Yrok, N.Y. 10018</section>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding  searchfortenantDB-inside-tenantresult hvr-underline-from-left ">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2  fa fa-user fa-2x dbuser">
                            <section class="dbaddressresult-pin">4587</section>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                            Samuel Jackson
                            <section class="dbaddressresult">4530 Scott street 15th floor</section>
                            <section class="dbaddressresult">floor New Yrok, N.Y. 10018</section>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding  searchfortenantDB-inside-tenantresult hvr-underline-from-left ">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2  fa fa-user fa-2x dbuser">
                            <section class="dbaddressresult-pin">2578</section>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                            Smith Doe
                            <section class="dbaddressresult">1412 Broadway 15th floor</section>
                            <section class="dbaddressresult">New Yrok, N.Y. 10018</section>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding  searchfortenantDB-inside-tenantresult hvr-underline-from-left ">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2  fa fa-user fa-2x dbuser">
                            <section class="dbaddressresult-pin">9547</section>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                            Greg Doe
                            <section class="dbaddressresult">1412 Broadway 15th floor</section>
                            <section class="dbaddressresult">New Yrok, N.Y. 10018</section>
                        </div>
                    </div>
                </div>
                
               
            </div>
            <!--Empty-->
            <div class="col-lg-8 col-md-8 insideboxDashboard">
               
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding  searchfortenantDB">
                    <div class="col-lg-12 col-md-12  repairrequestformheader text-center ">
                        <h6 class="modal-title myModalLabel " style="color:white; ">
                           Access Control Calendar
                        </h6>
                        

                    </div>
                   
                   

                    <button class="btn btn-default input-sm"  id="my-prev-button">Prev</button>

                    <button class="btn btn-default  input-sm" id="my-today-button">Today</button>

                    <button class="btn btn-default  input-sm" id="my-next-button">Next</button>

                   

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="calendar"></div>
                </div>
            </div>
        </div>
        

    </div>
    <div class="col-lg-12 col-md-11 col-sm-12 col-xs-12 nopadding ">
        <div class="col-lg-12 col-md-12  repairrequestformheader text-center ">
            <h6 class="modal-title myModalLabel " style="color:white; ">
                Access Request Dasboard
            </h6>

        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 SidebarDBSideMenu ">
            @{
                List<SelectListItem> options = new List<SelectListItem>();
                options.Add(new SelectListItem { Text = "Category-Current", Value = "Category" });
                options.Add(new SelectListItem { Text = "Tenant-Current", Value = "Tenant" });
                options.Add(new SelectListItem { Text = "Next (7)Days", Value = "next7days" });

            }
            @Html.DropDownList("mydropdownlist", options, new { id = "mydropdownlist", @class = "form-control" })

        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  requestChartDashboard  ">
            <div class="" id="RequestChart" style="height:250px; margin:10px;"></div>
        </div>
    </div>


</div>

<div class="modal fade" id="myModalMap" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
           
            <!--================================================================================Add cliet form================================================================-->
            <div class="modal-body lightgrey">
                <div id="map" class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="height:500px;"></div>
            </div>
        </div>
    </div>
</div><!--Edit client information Form Ends-->


<div class="modal fade" id="popupnotehistory" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="">

                <div class="col-lg-12 colmd-12  repairrequestformheader text-center ">
                    <h6 class="modal-title myModalLabel " style="color:white; ">
                        Access Request Information
                    </h6>

                </div>

            </div>
            <div class="modal-body "> 
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " >

                    <div class="col-lg-12 col-md-12 col-sm-12  accesscontrolrows-header">
                        <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1 ACRowsheader">ID</span>
                        <span class="col-lg-11 col-md-11 col-sm-11 col-xs-11 ">RequestType</span>
                    </div>

                </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " data-bind="foreach:ReturnData" >
                    
                      <div class="col-lg-12 col-md-12 col-sm-12 hollow5 accesscontrolrows">
                          <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1" data-bind="text:ID"></span>
                          <span class="col-lg-11 col-md-11 col-sm-11 col-xs-11" data-bind="text:ReqType"></span>
                      </div>
                   
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

   
    @section scripts
{


<script src="~/Scripts/jquery-2.1.3.min.js"></script>
<script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
<script type="text/javascript" src="~/Scripts/knockout-3.1.0.debug.js"></script>
<script type="text/javascript" src="~/Scripts/knockout-3.1.0.js"></script>




<link href="~/Content/hover.css" rel="stylesheet" />
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.signalR2.1.2.min.js"></script>
@*<script src="~/signalr/hubs"></script>*@
@*<script src="~/Scripts/jquery.validate.min.js"></script>*@
@*<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
<script src="~/Scripts/bootstrap.min.js"></script>


<link href="~/Scripts/fullcalendar-2.3.2/fullcalendar.min.css" rel="stylesheet" />
<link href="~/Scripts/fullcalendar-2.3.2/fullcalendar.print.css" rel="stylesheet" />
<script src="~/Scripts/fullcalendar-2.3.2/lib/moment.min.js"></script>
<script src="~/Scripts/fullcalendar-2.3.2/fullcalendar.min.js"></script>
<script src="~/Scripts/Chart.min.js"></script>
<!--=====================google Chart API starts=======================================-->
<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization',
            'version':'1','packages':['timeline'], }]}"></script>
<!--=====================google Chart API ends=======================================-->
<script src="~/Scripts/date.js"></script>

        <script type="text/javascript">
            $(document).ready(function (e) {               
                //Calendar

                $('#calendar').fullCalendar({
                    dayClick: function (date) {
                        alert('Clicked on the  day: ' + date);
                        $(this).css('background-color', 'red');
                    }                   
                });

                $('#my-next-button').click(function () {
                    $('#calendar').fullCalendar('next');
                });
                $('#my-prev-button').click(function () {
                    $('#calendar').fullCalendar('prev');
                });
                $('#my-today-button').click(function () {
                    $('#calendar').fullCalendar('today');
                    $(this).css('background-color', 'red');
                });
                //knockoutJS

                var viewModel = function () {


                    var self = this;


                   

                        self.SelectedDate = ko.observable("this is cool");
                        self.ReturnData = ko.observableArray();                    
                        self.LoadSelectedDate = function ()
                        {
                            $.ajax({
                                type: "GET",
                                url: "/DashBoard/LoadSelectedDate/",
                                datatype: "json",
                                data: { SelectedDate: self.SelectedDate()},
                                success: function (returnData) {
                                    self.ReturnData.removeAll();
                                    var jsonresult = JSON.stringify(returnData.Data);// Json.stringify make an object into a json string
                                     var TrkPkgs = JSON.parse(jsonresult); //JSON.parse makes a json string into a json object example obj.FirstName
                                        for (var i = 0; i < TrkPkgs.length; i++) {
                                        self.ReturnData.push({
                                            ID: ko.observable(TrkPkgs[i].ID),
                                            ReqType: ko.observable(TrkPkgs[i].ReqType)
                                        });
                                    }
                                }
                            });                        
                        }
                        self.LoadSelectedMonth = function () {
                            $.ajax({
                                type: "GET",
                                url: "/DashBoard/LoadCurrenttMonth/",
                                data: {},
                                datatype: "json",
                                success: function (returnData) {
                                    alert(JSON.stringify(returnData.Data[0].CollectionOfDates));
                                    debugger;
                                    var jsonresult = JSON.stringify(returnData.Data);// Json.stringify make an object into a json string
                                    var TrkPkgs = JSON.parse(jsonresult);                                  

                                    //for (var i = 0; i < TrkPkgs.length; i++) {
                                    for (var i = 1; i < 30; i++)
                                    {
                                        for (var i = 1; i < 30; i++) {
                                            var objDate = ["2015-08-10", "2015-08-02", "2015-08-03", "2015-08-04", "2015-08-15", "2015-08-06", "2015-08-20", "2015-08-25"];
                                            if (i < 10) {
                                                var j = "";
                                                j = "0" + i;
                                                var checkthisDate = $('[data-date="2015-08-' + j + '"]').attr("data-date");
                                                for (var m = 0; m < objDate.length; m++) {
                                                    if (checkthisDate == objDate[m]) {
                                                        $('[data-date="2015-08-' + j + '"]')
                                                          .append("<br/><span class='Calendarrequesttotal'>8 Requests</span>");
                                                    }
                                                    else { }
                                                }
                                            }
                                            else {
                                                var checkthisDate = $('[data-date="2015-08-' + i + '"]').attr("data-date");
                                                for (var m = 0; m < objDate.length; m++) {
                                                    if (checkthisDate == objDate[m]) {
                                                        $('[data-date="2015-08-' + i + '"]')
                                                    .append("<br/><span class='Calendarrequesttotal'>8 Requests</span>");
                                                    }
                                                }
                                            }
                                        }
                                    }
                                
                                }

                            })

                        }
                };

                //$('#myModal').modal('toggle');
                //$('#myModal').modal('show');
                //$('#myModal').modal('hide');

                var instance = new viewModel();
                $('#calendar').fullCalendar({dayClick: function (date) {$(this).css('background-color', 'red');}});
                $('#my-next-button').click(function () {
                    $('#calendar').fullCalendar('next');
                    re_register();//register code again
                });
                $('#my-prev-button').click(function () {
                    $('#calendar').fullCalendar('prev');
                    re_register();//register code again
                });
                $('#my-today-button').click(function () {
                    $('#calendar').fullCalendar('today');
                    $(this).css('background-color', 'red');
                });
                
                //for (var i = 1; i < 30; i++) {
                //    for (var i = 1; i < 30; i++) {
                //        var objDate = ["2015-08-10", "2015-08-02", "2015-08-03", "2015-08-04", "2015-08-15", "2015-08-06", "2015-08-20", "2015-08-25"];
                //        if (i < 10) {
                //            var j = "";
                //            j = "0" + i;
                //            var checkthisDate = $('[data-date="2015-08-' + j + '"]').attr("data-date");
                //            for (var m = 0; m < objDate.length; m++) {
                //                if (checkthisDate == objDate[m]) {
                //                    $('[data-date="2015-08-' + j + '"]')
                //                      .append("<br/><span class='Calendarrequesttotal'>8 Requests</span>");
                //                }
                //                else { }
                //            }
                //        }
                //        else {
                //            var checkthisDate = $('[data-date="2015-08-' + i + '"]').attr("data-date");
                //            for (var m = 0; m < objDate.length; m++) {
                //                if (checkthisDate == objDate[m]) {
                //                    $('[data-date="2015-08-' + i + '"]')
                //                .append("<br/><span class='Calendarrequesttotal'>8 Requests</span>");
                //                }
                //            }
                //        }
                //    }
                //}
                //register code again
                instance.LoadSelectedMonth();
                re_register();
                function re_register() {
                    $('[data-date = "2015-8-6"]').html("8 Requests");
                $('.fc-day-number').on('click', function (e) {  
                    instance.SelectedDate($(this).attr("data-date"));

                    
                    instance.LoadSelectedDate();
                    $('#popupnotehistory').modal('show');
                });
                };

                ko.applyBindings(instance);
                    

               
               
                
                
               


                // Start the connection.

                //var notification = $.connection.notificationsHub;

                //notification.client.broadcastNotification = function (name, message) {
                //    alert(message);
                //};

                //$.connection.hub.start().done(function () {

                //});

                //============================ pie chart ===============================

                //var data1 = [
                //               {
                //                   value: 50,
                //                   color: "lightblue",
                //                   label: "dioscar"

                //               },
                //               {
                //                   value: 10,
                //                   color: "red",
                //                   label: "dioscar"
                //               },
                //               {
                //                   value: 40,
                //                   color: "green",
                //                   label: "dioscar"
                //               }

                //]
                //var myDoughnut = new Chart(document.getElementById("chartleft").getContext("2d")).Doughnut(data1);

                //var data3 = {
                //    labels: ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"],
                //    datasets: [
                //        {
                //            label: "My First dataset",
                //            fillColor: "rgba(220,220,220,0.5)",
                //            strokeColor: "rgba(220,220,220,0.8)",
                //            highlightFill: "rgba(220,220,220,0.75)",
                //            highlightStroke: "rgba(220,220,220,1)",
                //            data: [65, 59, 80, 81, 56, 55, 40]
                //        },
                //        {
                //            label: "My Second dataset",
                //            fillColor: "rgba(151,187,205,0.5)",
                //            strokeColor: "rgba(151,187,205,0.8)",
                //            highlightFill: "rgba(151,187,205,0.75)",
                //            highlightStroke: "rgba(151,187,205,1)",
                //            data: [28, 48, 40, 19, 86, 27, 90]
                //        }
                //    ]
                //};

                //var options1 = {

                //    responsive: true,
                //    maintainAspectRatio: true
                //};
                //var myBarChart = new Chart(document.getElementById("chartright").getContext("2d")).Bar(data3, options1);


                //===========================Charts==============================
                //=============================Google Chart===================================
                // var url = @*'@Url.Action("getTodayRequests", "DashBoard")'*@;
                //============google chart and ajax connection to Action===========



                $('#mydropdownlist').change(function () {
                    // alert($(this).val());

                    var url = '/Dashboard/getTodayRequests?sortby=' + $(this).val();
                    drawMyChart(url);
                });
                var url = '/Dashboard/getTodayRequests/';


                drawMyChart(url);

                //this function will draw a chart
                function drawMyChart(url) {

                    setTimeout(function () {
                        // Do something after 5 seconds

                        $.get(url, function (data) {
                            //call function
                            drawChart();

                            //=====function drawChart========
                            function drawChart() {

                                var container = document.getElementById('RequestChart');// get the element by ID
                                var chart = new google.visualization.Timeline(container); //create chart intance

                                //=======create table======
                                var dataTable = new google.visualization.DataTable();
                                //=======Adding Column======

                                dataTable.addColumn({ type: 'string', id: 'Room' });
                                dataTable.addColumn({ type: 'string', id: 'Name' });
                                dataTable.addColumn({ type: 'date', id: 'Start' });
                                dataTable.addColumn({ type: 'date', id: 'End' });

                                // =====year=======
                                function YearC(value) {
                                    var pattern = /Date\(([^)]+)\)/;
                                    var results = pattern.exec(value);
                                    var dt = new Date(parseFloat(results[1]));
                                    return (dt.getFullYear());
                                }
                                // =====Month=======
                                function MonthC(value) {
                                    var pattern = /Date\(([^)]+)\)/;
                                    var results = pattern.exec(value);
                                    var dt = new Date(parseFloat(results[1]));
                                    return (dt.getMonth());
                                }
                                // =====Day=======
                                function DayC(value) {
                                    var pattern = /Date\(([^)]+)\)/;
                                    var results = pattern.exec(value);
                                    var dt = new Date(parseFloat(results[1]));
                                    return dt.getDate();

                                }

                                // =====Hour=======
                                function HoursC(value) {
                                    var pattern = /Date\(([^)]+)\)/;
                                    var results = pattern.exec(value);
                                    var dt = new Date(parseFloat(results[1]));
                                    return dt.getHours();

                                }
                                // =====Minutes=======
                                function MinutesC(value) {
                                    var pattern = /Date\(([^)]+)\)/;
                                    var results = pattern.exec(value);
                                    var dt = new Date(parseFloat(results[1]));
                                    return dt.getMinutes();

                                }

                                //----------===============Loop=========
                                for (var i = 0; i < data.length; i++) {
                                    //===============Conerting Json Date==========
                                    var FromDate = data[i].From;
                                    var ToDate = data[i].To;

                                    //===============Conerting Json Date ends===========
                                    //==========adding data to chart==========
                                    dataTable.addRows(
                                    [
                                       [

                                           data[i].Type,
                                           data[i].Description,
                                           new Date(parseInt(YearC(FromDate)),
                                               MonthC(FromDate),
                                               DayC(FromDate),
                                               HoursC(FromDate),
                                               MinutesC(FromDate),
                                               0),
                                           new Date(YearC(ToDate),
                                               MonthC(ToDate),
                                               DayC(ToDate),
                                               HoursC(ToDate),
                                               MinutesC(ToDate),
                                               0)
                                       ]
                                    ]);
                                }
                                //---------===============end loop==========

                                //==========chart Options==========
                                var options = {
                                    timeline: { colorByRowLabel: true },
                                    responsive: true,
                                    maintainAspectRatio: true,
                                    backgroundColor: '#00000',
                                    dateFormat: 'HH:mm MMMM dd, yyyy'

                                };
                                //click event start
                                google.visualization.events.addListener(chart, 'select', function () {
                                    var selection = chart.getSelection();
                                    if (selection && selection.length > 0) {
                                        var mydata = dataTable.getValue(selection[0].row, 0).split(" ");
                                        //alert(mydata[0]);
                                        //window.location.href = URL;
                                        //alert(dataTable.getValue(selection[0].row, 0) + ' clicked');
                                        // alert("Row #" + selection[0].row + ', column #' + selection[0].colorByRowLabel);
                                    }
                                });

                                //click event ends

                                chart.draw(dataTable, options);

                            }

                        });


                    }, 500);


                }

            });//ends windows.ready



        </script>
    }
